<div class="row">
  <div class="column">
      <h3>
          {{ product.name }}
      </h3>
      <img id="main" src="{{ product.image }}">
      <p>
        {{ product.description }}
      </p>
      <h4> {{ product.price }} <span style="color: red;"> rating: {{ product.rating }} </span></h4>

      <div *ngIf="product.image2" class="gallery">
          <img id="1" (mouseenter)="zoomIn(1)" (mouseleave)="zoomOut(1)" src="{{ product.image }}">
          <img id="2" (mouseenter)="zoomIn(2)" (mouseleave)="zoomOut(2)" src="{{ product.image2 }}">
          <img id="3" (mouseenter)="zoomIn(3)" (mouseleave)="zoomOut(3)" src="{{ product.image3 }}">
      </div>
    </div>
  <div class="column">
    <h4> Characteristics: Super Cool Dima</h4>
    <button (click)="Share()"> Go to alik </button>
  </div>
</div>

